<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.hello">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission
        android:name="com.example.hello.provider.read"
        android:label="book provider permission"/>

    <application
        android:name=".model.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="TEST_CHANNEL"
            android:value="${TEST_CHANNEL}"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TableLayoutActivity"
            android:label="@string/table_layout_name">
        </activity>
        <activity
            android:name=".activity.DragViewActivity"
            android:label="@string/drag_view_name">
        </activity>
        <activity
            android:name=".activity.ButterKnifeActivity"
            android:label="@string/butter_knife_name">
        </activity>
        <activity
            android:name=".activity.ReceiverLearnActivity"
            android:label="@string/receiver_learn_name">
        </activity>

        <receiver android:name=".receiver.TestReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.TIME_TICK"/>
                <!-- not use -->
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.GetTimeActivity"
            android:label="@string/get_time_name">
        </activity>

        <receiver android:name=".receiver.HomeKeyListener">
        </receiver>

        <activity
            android:name=".activity.HomeKeyActivity"
            android:label="@string/home_key_name">
        </activity>
        <activity
            android:name=".activity.NetWorkStateActivity"
            android:label="@string/network_state_name">
        </activity>
        <activity
            android:name=".activity.SystemPropertiesActivity"
            android:label="@string/system_properties_name">
        </activity>
        <activity
            android:name=".activity.AppActivity"
            android:label="@string/app_activity_name">
        </activity>
        <activity
            android:name=".activity.OneAppActivity"
            android:label="@string/one_app_activity_name">
        </activity>
        <activity
            android:name=".activity.StrictModeActivity"
            android:label="@string/strict_mode_name">
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/web_view_name">
        </activity>
        <activity
            android:name=".activity.IntentActivity"
            android:label="@string/intent_activity_name">
        </activity>

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.example.hello.provider.book"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.hello.provider.read">
        </provider>

        <activity
            android:name=".activity.tab_layout.TabLayoutFragmentActivity"
            android:label="@string/tab_layout_fragment_name">
        </activity>
        <activity
            android:name=".activity.tab_layout.TabLayoutMainActivity"
            android:label="@string/tab_layout_main_name">
        </activity>
    </application>

</manifest>